Repository SUSE/skuba, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ereslibre, @nirmoy, @MaximilianMeister, @mssola, @hwoarang, @tdaines42, @pablochacin, @r0ckarong, @MalloZup

Enable ssh-agent in CI
  ci/infra/testrunner/platforms/terraform.py
  ci/infra/testrunner/tests/tests.py
  ci/infra/testrunner/utils/utils.py
Owners: @pablochacin, @tdaines42

Enable ssh-agent in CI
  ci/infra/testrunner/platforms/terraform.py
  ci/infra/testrunner/tests/tests.py
  ci/infra/testrunner/utils/utils.py
Owners: @pablochacin, @tdaines42

Refactor logic for creating platform
  ci/infra/testrunner/platforms/__init__.py
  ci/infra/testrunner/platforms/platform.py
  ci/infra/testrunner/testrunner.py
Owners: @pablochacin, @tdaines42

Make skuba create/cleanup methods static
  ci/infra/testrunner/testrunner.py
  ci/infra/testrunner/utils/skuba.py
Owners: @pablochacin, @tdaines42

Make skuba create/cleanup methods static
  ci/infra/testrunner/testrunner.py
  ci/infra/testrunner/utils/skuba.py
Owners: @pablochacin, @tdaines42

Refactor logic for creating platform
  ci/infra/testrunner/platforms/__init__.py
  ci/infra/testrunner/platforms/platform.py
  ci/infra/testrunner/testrunner.py
Owners: @pablochacin, @tdaines42

Refactor terraform logic into Terraform class
  ci/infra/testrunner/platforms/terraform.py
  ci/infra/testrunner/utils/skuba.py
Owners: @pablochacin, @tdaines42

Fix circular dependencies in Skuba class
  ci/infra/testrunner/caaspctl/__init__.py
  ci/infra/testrunner/caaspctl/skuba.py
  ci/infra/testrunner/testrunner.py
  ci/infra/testrunner/tests/tests.py
  ci/infra/testrunner/utils/__init__.py
Owners: @pablochacin, @tdaines42

Fix circular dependencies in Skuba class
  ci/infra/testrunner/caaspctl/__init__.py
  ci/infra/testrunner/caaspctl/skuba.py
  ci/infra/testrunner/testrunner.py
  ci/infra/testrunner/tests/tests.py
  ci/infra/testrunner/utils/__init__.py
Owners: @pablochacin, @tdaines42

Refactor terraform logic into Terraform class
  ci/infra/testrunner/platforms/terraform.py
  ci/infra/testrunner/utils/skuba.py
Owners: @pablochacin, @tdaines42

Fix name of caaspctl module and set to skuba
  ci/infra/testrunner/caaspctl/__init__.py
  ci/infra/testrunner/skuba/__init__.py
  ci/infra/testrunner/skuba/skuba.py
  ci/infra/testrunner/testrunner.py
  ci/infra/testrunner/tests/tests.py
Owners: @pablochacin, @tdaines42

Make terraform path configurable
  ci/infra/testrunner/README.md
  ci/infra/testrunner/platforms/openstack.py
  ci/infra/testrunner/platforms/terraform.py
  ci/infra/testrunner/utils/constants.py
  ci/infra/testrunner/vars/openstack.yaml.template
Owners: @pablochacin, @tdaines42

Fix platform exports
  ci/infra/testrunner/platforms/__init__.py
  ci/infra/testrunner/testrunner.py
Owners: @pablochacin, @tdaines42

Fix platform exports
  ci/infra/testrunner/platforms/__init__.py
  ci/infra/testrunner/testrunner.py
Owners: @pablochacin, @tdaines42

Fix name of caaspctl module and set to skuba
  ci/infra/testrunner/caaspctl/__init__.py
  ci/infra/testrunner/skuba/__init__.py
  ci/infra/testrunner/skuba/skuba.py
  ci/infra/testrunner/testrunner.py
  ci/infra/testrunner/tests/tests.py
Owners: @pablochacin, @tdaines42

Make terraform path configurable
  ci/infra/testrunner/README.md
  ci/infra/testrunner/platforms/openstack.py
  ci/infra/testrunner/platforms/terraform.py
  ci/infra/testrunner/utils/constants.py
  ci/infra/testrunner/vars/openstack.yaml.template
Owners: @pablochacin, @tdaines42

Reintroduce code for enabling ssh agent
  ci/infra/testrunner/platforms/terraform.py
Owners: @pablochacin, @tdaines42

Reintroduce code for enabling ssh agent
  ci/infra/testrunner/platforms/terraform.py
Owners: @pablochacin, @tdaines42

Made repositories a map instead of a list of maps
  ci/infra/libvirt/cluster.tf
  ci/infra/libvirt/terraform.tfvars.opensuse.example
  ci/infra/libvirt/terraform.tfvars.sles.example
  ci/infra/libvirt/variables.tf
  ci/infra/openstack/master-instance.tf
  ci/infra/openstack/terraform.tfvars.ci.example
  ci/infra/openstack/terraform.tfvars.example
  ci/infra/openstack/variables.tf
  ci/infra/openstack/worker-instance.tf
  ci/infra/vmware/lb-instance.tf
  ci/infra/vmware/master-instance.tf
  ci/infra/vmware/terraform.tfvars.ci.example
  ci/infra/vmware/terraform.tfvars.example
  ci/infra/vmware/variables.tf
  ci/infra/vmware/worker-instance.tf
Owners: @hwoarang, @tdaines42

Made repositories a map instead of a list of maps
  ci/infra/libvirt/cluster.tf
  ci/infra/libvirt/terraform.tfvars.opensuse.example
  ci/infra/libvirt/terraform.tfvars.sles.example
  ci/infra/libvirt/variables.tf
  ci/infra/openstack/master-instance.tf
  ci/infra/openstack/terraform.tfvars.ci.example
  ci/infra/openstack/terraform.tfvars.example
  ci/infra/openstack/variables.tf
  ci/infra/openstack/worker-instance.tf
  ci/infra/vmware/lb-instance.tf
  ci/infra/vmware/master-instance.tf
  ci/infra/vmware/terraform.tfvars.ci.example
  ci/infra/vmware/terraform.tfvars.example
  ci/infra/vmware/variables.tf
  ci/infra/vmware/worker-instance.tf
Owners: @hwoarang, @tdaines42

Updated testrunner to be able to use tfvars.json
  ci/infra/testrunner/platforms/terraform.py
Owners: @pablochacin, @tdaines42

Updated testrunner to be able to use tfvars.json
  ci/infra/testrunner/platforms/terraform.py
Owners: @pablochacin, @tdaines42

Added terraform.tfvars.json ci examples
  ci/infra/libvirt/terraform.tfvars.json.ci.example
  ci/infra/openstack/terraform.tfvars.json.ci.example
  ci/infra/vmware/terraform.tfvars.json.ci.example
Owners: @hwoarang, @tdaines42

Added terraform.tfvars.json ci examples
  ci/infra/libvirt/terraform.tfvars.json.ci.example
  ci/infra/openstack/terraform.tfvars.json.ci.example
  ci/infra/vmware/terraform.tfvars.json.ci.example
Owners: @hwoarang, @tdaines42

Set default tfvars template to json one
  ci/infra/testrunner/utils/constants.py
  ci/jenkins/pipelines/prs/skuba-integration.Jenkinsfile
  ci/jenkins/pipelines/skuba-nightly.Jenkinsfile
Owners: @pablochacin, @tdaines42, @hwoarang

Set default tfvars template to json one
  ci/infra/testrunner/utils/constants.py
  ci/jenkins/pipelines/prs/skuba-integration.Jenkinsfile
  ci/jenkins/pipelines/skuba-nightly.Jenkinsfile
Owners: @pablochacin, @tdaines42, @hwoarang

Removed ci tfvars in favor of json based ones
  ci/infra/openstack/terraform.tfvars.ci.example
  ci/infra/vmware/terraform.tfvars.ci.example
Owners: @hwoarang, @tdaines42

Removed ci tfvars in favor of json based ones
  ci/infra/openstack/terraform.tfvars.ci.example
  ci/infra/vmware/terraform.tfvars.ci.example
Owners: @hwoarang, @tdaines42

Fix skuba binpath reference
  ci/infra/testrunner/skuba/skuba.py
Owners: @pablochacin, @tdaines42

ci: infra: Make openstack subnet and router names configurable
  ci/infra/openstack/network.tf
  ci/infra/openstack/terraform.tfvars.ci.example
  ci/infra/openstack/terraform.tfvars.example
  ci/infra/openstack/variables.tf
Owners: @hwoarang, @tdaines42

Add parameter for terraform plugin dir
  ci/infra/testrunner/README.md
  ci/infra/testrunner/platforms/terraform.py
  ci/infra/testrunner/utils/constants.py
Owners: @pablochacin, @tdaines42

[WIP] psp: Allow hostPaths used by Cilium
  pkg/skuba/actions/cluster/init/manifests.go
Owners: @ereslibre, @nirmoy

skuba-update: add new methods to target and annotate nodes
  skuba-update/skuba_update/skuba_update.py
  skuba-update/test/unit/skuba_update_test.py
Owners: @MaximilianMeister, @mssola

Fixed VMware class to update renamed function
  ci/infra/testrunner/platforms/vmware.py
Owners: @pablochacin, @tdaines42

Fixed VMware class to update renamed function
  ci/infra/testrunner/platforms/vmware.py
Owners: @pablochacin, @tdaines42

Fix SLES product & update repositories source
  ci/infra/openstack/terraform.tfvars.json.ci.example
  ci/infra/vmware/terraform.tfvars.json.ci.example
Owners: @hwoarang, @tdaines42

Fix SLES product & update repositories source
  ci/infra/openstack/terraform.tfvars.json.ci.example
  ci/infra/vmware/terraform.tfvars.json.ci.example
Owners: @hwoarang, @tdaines42

Replace password with key-based authentication
  ci/infra/openstack/README.md
  ci/infra/openstack/cloud-init/common.tpl
  ci/infra/openstack/master-instance.tf
  ci/infra/openstack/terraform.tfvars.example
  ci/infra/openstack/terraform.tfvars.json.ci.example
  ci/infra/openstack/variables.tf
  ci/infra/openstack/worker-instance.tf
Owners: @hwoarang, @tdaines42

Remove password configuration
  ci/infra/vmware/lb-instance.tf
  ci/infra/vmware/master-instance.tf
  ci/infra/vmware/terraform.tfvars.example
  ci/infra/vmware/variables.tf
  ci/infra/vmware/worker-instance.tf
Owners: @hwoarang, @tdaines42

Fix LB deployment
  ci/infra/vmware/cloud-init/common.tpl
  ci/infra/vmware/cloud-init/haproxy-backends.tpl
  ci/infra/vmware/cloud-init/lb.tpl
  ci/infra/vmware/lb-instance.tf
  ci/infra/vmware/variables.tf
Owners: @hwoarang, @tdaines42

.github/CODEOWNERS:

# docs: https://help.github.com/en/articles/about-code-owners

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence.

# Instead of maching the individual skuba directories,
# we can look for *.go files instead.
*.go @ereslibre @nirmoy

/skuba-update/ @MaximilianMeister @mssola

/ci/ @hwoarang @tdaines42
/ci/infra/testrunner/ @pablochacin @tdaines42

/docs/ @r0ckarong

/test/ @MalloZup @pablochacin

/tools/ @MalloZup @ereslibre
